[user]
	name = "Fen Labalme"
	email = fen@openprivacy.org
[core]
	autocrlf = input
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[giggle]
	main-window-maximized = false
	main-window-geometry = 1064x727+1689+178
	history-view-vpane-position = 346
	main-window-view = HistoryView
	file-view-vpane-position = 466
	file-view-hpane-position = 242
[alias]
	co = checkout
	ci = commit
	st = status
	graphlog = log --oneline --graph --branches
        g = grep -n --color
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[diff]
	tool = meld
[difftool]
	prompt = false
